<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route p="/" controller="PostController" action="Index"/>
    <route p="post" controller="PostController" action="Post" params="id"/>

    <!--    Administration-->
    <route p="admin" controller="AdminController" action="Post" params="id"/>
    <route p="delete-comment" controller="AdminController" action="Post" params="id"/>
    <route p="delete-article" controller="AdminController" action="Post" params="id"/>

    <!--    Security-->
    <route p="login" controller="SecurityController" action="Post"/>
    <route p="logout" controller="SecurityController" action="Post"/>
    <route p="signup" controller="SecurityController" action="Post"/>
    <route p="update-user" controller="SecurityController" action="Post" params="id"/>

</routes>