<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route p="/" controller="PostController" action="Index"/>
    <route p="post" controller="PostController" action="Post" params="id"/>

    <!--    Administration-->
    <route p="admin" controller="AdminController" action="Post" params="id"/>
    <route p="user-list" controller="AdminController" action="GetAllUsers" params="id"/>
    <route p="delete-comment" controller="AdminController" action="Post" params="id"/>
    <route p="delete-article" controller="AdminController" action="Post" params="id"/>

    <!--    Security-->
    <route p="singin" controller="SecurityController" action="isSessionActive"/>
    <route p="login" controller="SecurityController" action="checkCnx" params="mail,pwd"/>
    <route p="logout" controller="SecurityController" action="Post"/>
    <route p="signup" controller="SecurityController" action="Post"/>
    <route p="update-user" controller="SecurityController" action="Post" params="id"/>

    <!--    Api-->
    <route p="api/post" controller="ApiController" action="post"  params="id"/>
    <route p="api/comment" controller="ApiController" action="comment"  params="id"/>
<!--    <route p="api/post" controller="ApiController" action="deletePost" methode="post" params="id"/>-->
<!--    <route p="api/post" controller="ApiController" action="updatePost" methode="post" params="id"/>-->
<!--    <route p="api/post" controller="ApiController" action="Post" methode="get"/>-->


</routes>